body {
    background-color: rgb(230,190,230);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h3 {
    font-size: 20px;
}

#tea_results, #poem_results, #caffeine_form, #tea_flavor_form, #poem_pref_form {
    color: rgb(128,0,128);
}

#wiki_link, #poetry_api_link, #datamuse_link, #poetry_link {
    color: rgb(128,0,128);
}

#oopsie_alert, #no_tea_alert, #no_poetry_alert {
    background-color: rgb(221,150,221)
}