{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Welcome to PoeTea &#x2728;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="col">
                <p>PoeTea (pronounced [po-eh-tea]) is an interactive recommendation system for tea and poetry!</p>
            </th>
        </tr>
        <tr>
            <th scope="col">
                <p>You'll tell us:</p>
                <p>(1) What caffeine content you'd like your tea to have</p>
                <p>(2) Up to three flavor words that describe your ideal tea taste</p>
                <p>(3) A word or phrase you'd like to see in a poem</p>
            </th>
        </tr>
        <tr>
            <th scope="col">
                <p>And our system will provide you with:</p>
                <p>(1) New tea(s) to try!</p>
                <p>(2) A fun poem</p>
            </th>
        </tr>
    </tbody>
</table>
<form action="http://127.0.0.1:5000/form" method="get">
    <label for="continue" class="form_label">Ready?</label>
    <input type="submit" id="continue" value="Yes!&#x2728;">
</form>
{% endblock %}