{% extends "base.html" %}
{% block title %}Oopsie &#x2728;{% endblock %}
{% block content %}
<div class="row">
    <div class="col-8 offset-2 text-center site-header">
        <div class="alert alert-primary" id="oopsie_alert" role="alert">
            <p>You either forgot to give us a tea keyword or poem keyword.</p>
            <p>Please go back and try again!</p>
            <form action="http://127.0.0.1:5000/form" method="get">
                <label for="go_back" class="form_label">Ready?</label>
                <input type="submit" id="go_back" value="&#x2728;Go Back&#x2728;">
            </form>
        </div>
    </div>
</div>
{% endblock %}